<header class="header">
  <nav class="navbar">
    <a href="" class="navbar__logo">
      <img src="assets/images/logo.png" alt="Logo" />
    </a>
    <ul class="navbar__items">
      <li class="navbar__item"><a href="" class="navbar__link">Home</a></li>
      <li class="navbar__item"><a href="" class="navbar__link">Movies</a></li>
      <li class="navbar__item"><a href="" class="navbar__link">TV Shows</a></li>
      <li class="navbar__item"><a href="" class="navbar__link">Genres</a></li>
    </ul>
  </nav>
</header>
