<div class="slider">
  <ng-container *ngFor="let item of items; let i = index">
    <div class="slide" *ngIf="i == currentSlideIndex" @slideFade>
      <div class="slide__bg">
        <img
          class="slide__bg-img"
          [src]="'https://image.tmdb.org/t/p/original' + item.backdrop_path"
          alt="Back drop"
        />
      </div>
      <div class="slide__pane">
        <h2 class="name">{{ item.title }}</h2>
        <div class="meta">
          <div class="info">
            <span class="rating">
              <span class="material-icons star"> star </span>
              <span class="rating__value">{{ item.vote_average }}</span>
              <span>/10</span>
            </span>
            <span>{{ item.vote_count }} Reviews</span>
            <span>{{ item.release_date | date: "yyyy" }}</span>
          </div>
        </div>
        <div class="desc">
          {{ item.overview }}
        </div>
      </div>
    </div>
  </ng-container>
</div>
